{% extends 'base.html' %}

{% block title %} About {% endblock %}


{% block body %}
<h2>About Vertical Tank Maintenance</h2>
<hr>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta, lectus vel blandit dignissim, arcu ex efficitur ligula, sed condimentum dolor justo id purus. Donec blandit efficitur orci, porttitor lacinia neque blandit a. Morbi egestas justo risus, et auctor ex volutpat vel. Nullam at dui nisl. Integer congue fringilla arcu, sit amet vulputate nisi efficitur at. Fusce a turpis nec quam commodo accumsan. Aliquam eget ipsum turpis.

</p>





{% endblock %}