{% extends 'base.html' %}

{% block title %} Welcome to the home page {% endblock %}


{% block body %}
<img src="{{url_for('static', filename='pics/tank.jpg')}}" alt="Fuel Tanks" style="width:300px;height:250px;margin: 1cm;"/>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris viverra enim purus, eu convallis erat finibus at. Nullam diam quam, blandit vel vestibulum euismod, finibus eget turpis. Proin sed vulputate mi. Proin eu ornare libero. Aenean facilisis quis dolor vitae convallis. Praesent convallis et nisl nec feugiat. Nullam a tristique sapien, non mollis tellus. Quisque sed ante id urna egestas pharetra. Vestibulum consequat, dolor at rutrum ultricies, sapien tortor pretium felis, commodo consequat risus eros ullamcorper risus. Quisque nec semper libero. Aliquam placerat ultrices finibus.
</p>

<p>Nunc sollicitudin ex a consectetur consectetur. Etiam eleifend sodales posuere. Maecenas orci neque, mollis quis laoreet sit amet, venenatis vitae elit. Suspendisse potenti. Donec ornare lacinia nisl, eget semper tellus suscipit sit amet. Integer ut accumsan nisi. In id faucibus nulla, vel consequat dui. Nam elit enim, interdum ut turpis a, feugiat pulvinar leo. Duis ut felis interdum, tempus ante vel, lobortis magna.
    
</p>


{% endblock %}